
<h1> Transactions for <%= user.username %> </h1>

  <div class="row">
    <div class="col">
      <p> Here is your list of things to do! </p>

     
      <p class="m-2">
          <a  class="btn btn-lg btn-primary"
              href="/transaction/groupByCategory">group by category</a>
          <a class="btn btn-lg btn-primary"
              href="?sort=category">sort by category</a>
          <a class="btn btn-lg btn-primary"
              href="?sort=amount">sort by amount</a>
          <a class="btn btn-lg btn-primary"
              href="?sort=description">sort by description</a>
          <a class="btn btn-lg btn-primary"
              href="?sort=date">sort by date</a>
      </p>
    
      <table class="table table-bordered table-striped">
        <tr>
          <th>Description</th>
          <th>Amount</th>
          <th>Category</th>
          <th>Date</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <% transactions.forEach(transaction => { %>
        <tr>
          <td><%= transaction.description %></td>
           <td><%= transaction.amount %></td>
           <td><%= transaction.category %></td>
           <td><%= transaction.date] %></td>
          <td><a href="/transaction/remove/<%=transaction._id %>">
             <i class="bi bi-trash"></i></a>
          </td>
           <td>
             <a 
                href="/transaction/edit/<%=transaction._id %>">
             <i class="bi bi-pencil-square"></i></a>
          </td>
        </tr>
        <% }) %>
      </table>
      </div>
    </div>


<form method="post" action="todo">
   <input type ="text" value="description" name="description">
   <input type ="text" value="category" name="category">
   <input type ="double" value="amount" name="amount">
   <input type="date" value="mm/dd/yyyy" name="date">
   <input type="submit" value="store">
</form>
   
